.App {
  text-align: center;
}

.bold{
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.no-visibility{
  display: none;
}

.d-block{
  display: block;
}
.Link-body:hover{
  background: #D0D5DD;
}

a.button-link{
color: #101828;
font-weight: bold;
text-decoration: none;
}

a.button-link:link {
  color: #101828;
}

/* visited link */
a.button-link:visited {
  color: #101828;
}

/* mouse over link */
a.button-link:hover {
  color: #424449;
  font-weight: bolder;
}

/* selected link */
a.button-link:active {
  color: #101828;
}

.Link-body{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem;
margin:1rem;
width: 94%;
height: 6rem;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 1; */
}

.subText{
  color: #424449;
}

.small-margin{
  margin: 1rem;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
position:absolute;
margin-left: 26rem;
display: inline;
}

.mobile-back{
  display: none;
}

.footer{
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  color: #667085;
  font-size: small;
  border-top: 1px solid #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and ( max-width: 575px) {
  .back{
    display: none;
  }

  .mobile-back{
    display: inline;
    position: absolute;
    margin-left: 5rem;
    margin-top: 1rem;
  }

  .footer-image{
    width: 6rem;
  }

  .footer-text{
    text-align: left;
    margin-left: 1rem;
  }

  .footer{
    display: flex;
    padding: 1rem;
    flex-direction: column;
   
    border-top: 1px solid #667085;
  }
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
